CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL,
    BirthDate DATE NULL,
    Gender NVARCHAR(10) NULL
);

CREATE TABLE BodyRecords (
    BodyRecordID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT NOT NULL,
    RecordDate DATE NOT NULL,
    ActivityLevel DECIMAL(4,3) NOT NULL,
    Height DECIMAL(5,2) NOT NULL,
    Weight DECIMAL(5,2) NOT NULL,
    WaistSize DECIMAL(5,2) NULL,
    NeckSize DECIMAL(5,2) NULL,
    HipSize DECIMAL(5,2) NULL,
    BodyFat DECIMAL(5,2) NULL,
    MuscleMass DECIMAL(5,2) NULL,
    VisceralFat DECIMAL(5,2) NULL,

    CONSTRAINT FK_BodyRecords_Users
        FOREIGN KEY (UserID) REFERENCES Users(UserID)
);

CREATE TABLE UserGoals (
    GoalID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT NOT NULL,
    GoalType NVARCHAR(10) NOT NULL,
    TargetWeight DECIMAL(5,2) NULL,
    TargetBodyFat DECIMAL(5,2) NULL,
    StartDate DATE NOT NULL,
    TargetDate DATE NULL,
    IsActive BIT NOT NULL DEFAULT 1,

    CONSTRAINT FK_UserGoals_Users
        FOREIGN KEY (UserID) REFERENCES Users(UserID)
);

CREATE TABLE Food (
    FoodID INT IDENTITY(1,1) PRIMARY KEY,
    FoodName NVARCHAR(50) NOT NULL,
    FoodCategory NVARCHAR(50) NULL,
    Calories DECIMAL(10,2) NOT NULL,
    Carbs DECIMAL(10,2) NULL,
    Protein DECIMAL(10,2) NULL,
    Fat DECIMAL(10,2) NULL
);

CREATE TABLE Drink (
    DrinkID INT IDENTITY(1,1) PRIMARY KEY,
    DrinkName NVARCHAR(50) NULL,
    Size NVARCHAR(10) NULL,
    DrinkCategory NVARCHAR(50) NULL,
    Calories DECIMAL(10,2) NULL,
    Carbs DECIMAL(10,2) NULL,
    Protein DECIMAL(10,2) NULL,
    Fat DECIMAL(10,2) NULL
);

CREATE TABLE FoodImage (
    ImageID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT NOT NULL,
    ImagePath NVARCHAR(500) NULL,
    UploadTime DATETIME2 NOT NULL DEFAULT GETDATE(),

    CONSTRAINT FK_FoodImage_Users
        FOREIGN KEY (UserID) REFERENCES Users(UserID)
);

CREATE TABLE FoodRecords (
    RecordID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT NOT NULL,
    ImageID INT NULL,
    RecordSource NVARCHAR(20) NOT NULL,
    RecordDate DATETIME2 NOT NULL,
    MealType NVARCHAR(50) NULL,
    Description NVARCHAR(500) NULL,

    CONSTRAINT FK_FoodRecords_Users
        FOREIGN KEY (UserID) REFERENCES Users(UserID),

    CONSTRAINT FK_FoodRecords_FoodImage
        FOREIGN KEY (ImageID) REFERENCES FoodImage(ImageID)
);

CREATE UNIQUE INDEX UX_FoodRecords_ImageID
ON FoodRecords(ImageID)
WHERE ImageID IS NOT NULL;

CREATE TABLE FoodRecordItems (
    ItemID INT IDENTITY(1,1) PRIMARY KEY,
    ItemName NVARCHAR(100) NULL,
    RecordID INT NOT NULL,
    FoodID INT NULL,
    DrinkID INT NULL,
    Quantity DECIMAL(10,2) NULL,
    Unit NVARCHAR(20) NULL,
    Calories DECIMAL(10,2) NOT NULL,
    Carbs DECIMAL(10,2) NULL,
    Protein DECIMAL(10,2) NULL,
    Fat DECIMAL(10,2) NULL,

    CONSTRAINT FK_FoodRecordItems_FoodRecords
        FOREIGN KEY (RecordID) REFERENCES FoodRecords(RecordID),

    CONSTRAINT FK_FoodRecordItems_Food
        FOREIGN KEY (FoodID) REFERENCES Food(FoodID),

    CONSTRAINT FK_FoodRecordItems_Drink
        FOREIGN KEY (DrinkID) REFERENCES Drink(DrinkID),

    CONSTRAINT CK_FoodRecordItems_FoodOrDrink
        CHECK (NOT (FoodID IS NOT NULL AND DrinkID IS NOT NULL))
);